<!DOCTYPE html>
<html>
<head>
    <title>test</title>
    <meta charset="utf-8" />
    <style>
        a,a:visited,a:hover{
            text-decoration: none;
            color: black;
        }
        .flexbox{
            display: flex; /*activate power*/
            margin: 0;
            padding: 0;
            list-style: none;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: stretch;
        }
        .value{
            display: none;
        }
        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            margin: 5px;
            width: 300px;
            border-radius: 3px;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .container {
            padding: 2px 16px;
        }
    </style>
</head>
<body>
<a href="#"><h2></h2></a>
<h4 id="title"><b></b></h4>
<p id ='amount'></p>
<div id="form">
    <form id = 'form1' action = '/getInfo' method="get">
    <p><b>Filter</b></p>
    <p><input id ='Issues'name="issues" type="checkbox"> Has open issues</p>
    <p><input id ='Topics'name="topics" type="checkbox"> Has Topics</p>
    <p><input id ='starred'name="starred" type="checkbox" onchange="starred1()"> Starred</p>
    <p><input id='starred_value' name="starred_value" class="value" ></p>
    <p><input id="updated" name="updated" type="checkbox" onchange="updated1()"> Updated</p>
    <p><input id='updated_value' name="updated_value" type="date" class="value"></p>
    <p><input id="fork" name="fork" type="checkbox" >Fork</p>
    <p><input id="language" name="language" type="checkbox" onchange="language1()">Language</p>
    <p><input id='language_value' name="language_value" class="value"></p>
        <p><b>Sort by:</b></p>
        <p><input name="sort" type="radio" value="name"> Name</p>
        <p><input name="sort" type="radio" value="stars"> Stars</p>
        <p><input name="sort" type="radio" value="open_issues"> Open issues</p>
        <p><input name="sort" type="radio" value="updated_date"> Updated date</p>
        <p><b>Ascending or descending</b></p>
        <p><input name="sortC" type="radio" value="ascending"> Ascending</p>
        <p><input name="sortC" type="radio" value="descending"> Descending</p>
    <p><input type="submit" value="Choose" ></p>
</form>

</div>


<div id = 'flex' class="flexbox">
    <h4 id="title_rep"><a href="{{svn_url}}">{{name}}</a></h4>
    <p>Description: {{description}}</p>
    <p>Fork: {{fork}}</p>
    <p>Language: {{language}}</p>
    <p>Updated at: {{updated_at}}</p>
    <p>Stars: {{stargazers_count}}</p>
</div>
<script defer>
  function getAllUrlParams(url) {
    var queryString = url ? url.split('?')[1] : window.location.search.slice(1);
    var obj = {};
    if (queryString) {
      queryString = queryString.split('#')[0];
      var arr = queryString.split('&');

      for (var i = 0; i < arr.length; i++) {
        var a = arr[i].split('=');
        var paramName = a[0];
        var paramValue = typeof (a[1]) === 'undefined' ? true : a[1];
        paramName = paramName.toLowerCase();
        if (typeof paramValue === 'string') paramValue = paramValue.toLowerCase();
        if (paramName.match(/\[(\d+)?\]$/)) {
          var key = paramName.replace(/\[(\d+)?\]/, '');
          if (!obj[key]) obj[key] = [];
          if (paramName.match(/\[\d+\]$/)) {
            var index = /\[(\d+)\]/.exec(paramName)[1];
            obj[key][index] = paramValue;
          } else {
            obj[key].push(paramValue);
          }
        } else {
          if (!obj[paramName]) {
            obj[paramName] = paramValue;
          } else if (obj[paramName] && typeof obj[paramName] === 'string'){
            obj[paramName] = [obj[paramName]];
            obj[paramName].push(paramValue);
          } else {
            obj[paramName].push(paramValue);
          }
        }
      }
    }

    return obj;
  }
  function sortByUpdatedDate(a, b){
      let first=new Date(a.updated_at), second=new Date(b.updated_at)
      return first-second
  }
  url = getAllUrlParams(window.location.href)
  async function fetch1(){
      let check = await fetch('/json').then(response => {return response})
      return check
  }

  let check = fetch('/json',{method:'GET'}).then(response => response.text())
      .then(data => {
          data = JSON.parse(data);
          let user = data.userName

          var document1 = document.getElementById('form').innerHTML.toString().replace('getInfo', `getInfo/${data.userName}`)
          document.getElementById('form').innerHTML = document1
          document.getElementById('title').innerText = data.userName
          document.getElementById('amount').innerText = 'Reps:' + data.reps.length
          let ret = ''
          let reps = data.reps
          if (url.issues) {
              reps = reps.filter(item => item.has_issues === true)
          }
          if(url.topics){
              reps = reps.filter(item => item.topics !== [])
          }
          if(url.topics){
              reps = reps.filter(item => item.stargazers_count > url.starred_value)
          }
          if(url.updated){
              reps.forEach(function (item) {
                  item.updated_at = new Date(item.updated_at)
              })
              reps = reps.filter(item => item.updated_at > new Date(url.updated_value))
          }
          if(url.fork)
          {
              reps = reps.filter(item => item.fork === true)
          }
          if(url.language){
              reps = reps.filter(item => item.language !== null && item.language.toLowerCase() === 'javascript')
          }
          if(url.sort === 'name'){
              reps.sort((a, b) => a-b)
              if(url.sortc === 'descending') {
                  reps= reps.reverse()
              }
          }
          if(url.sort === 'stars'){
              reps.sort((a, b) => a-b)
              if(url.sortc === 'descending') {
                  reps= reps.reverse()
              }
          }
          if(url.sort === 'open_issues'){
              reps.sort((a, b) => a-b)
              if(url.sortc === 'descending') {
                  reps= reps.reverse()
              }
          }
          if(url.sort === 'updated_date'){
              reps.sort(sortByUpdatedDate)
              if(url.sortc === 'descending') {
                  reps= reps.reverse()
              }
          }
          for (let item in reps) {
              ret += "<div class='card'  >" + "<div class='container'>" +
                  `<a href = ${reps[item].svn_url}><h4>${reps[item].name}</h4></a>` +
                  `<p>Description: ${reps[item].description} </p>` +
                  `<p>Fork: ${reps[item].fork}</p>` +
                  `<p>Language: ${reps[item].language}</p>` +
                  `<p>Updated at: ${reps[item].updated_at}</p>` +
                  `<p>Stars: ${reps[item].stargazers_count}</p>` +
                  "</div>" + "</div></a>"
          }
          document.getElementById('flex').innerHTML = ret
          return data;
      })
</script>
<script defer>

    function starred1() {
        if(document.getElementById('starred').checked){
            document.getElementById('starred_value').style.display = 'flex'
        }
        else {
            document.getElementById('starred_value').style.display = 'none'
        }
    }
    function updated1() {
        if(document.getElementById('updated').checked){
            document.getElementById('updated_value').style.display = 'flex'
        }
        else {
            document.getElementById('updated_value').style.display = 'none'
        }
    }
    function language1() {
        if(document.getElementById('language').checked){
            document.getElementById('language_value').style.display = 'flex'
        }
        else {
            document.getElementById('language_value').style.display = 'none'
        }
    }


</script>
</body>
</html>